/* ----------------------HEADER--------------------- */
header{
    text-align: left;
}

.carousel{
    max-width: 700px;
    margin: 0 auto;
}
.carousel-item h5, 
.carousel-item p{
    background-color: #e4181578;
    text-align: center;
}

